@model IEnumerable<Gather_Requirement_Project.Models.UserStories>

@{
    ViewData["Title"] = "Index";
}



<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-header">
            <h4> <i class="fa fa-desktop" aria-hidden="true"></i>&nbsp&nbsp User Story </h4>
        </div>
        <div class="card-body" style="">
            <div class="row">
                <div class="col-md-10">
                    <a asp-action="Create" asp-route-screenid='@ViewBag.ScID'>Create New User Story</a>
                </div>
                <div class="col-md-2">
                    @foreach (var item in Model)
                    {
                        <a asp-controller="Screen" asp-action="Index" asp-route-modulId="@item.Screen.ModuleID">Go to Back</a>
                        break;
                    }
                </div>
            </div>
            <hr />



            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Requirement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserStory)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Screen)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requirement)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Screen.ScreenName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
